@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <center>
        <img style=" height: 300px; width: 600px" src="~/Content/alertPicture.jpg" alt="Car with lights on" />
    </center>
</div>
